In [2]:
# numpy imports
import numpy as np
from numpy.random import randn

# pandas imports
import pandas as pd
from pandas import DataFrame, Series

# stats imports
from scipy import stats

# matplot lib imports
import matplotlib as mpl
import matplotlib.pyplot as plt

# seaborn imports
import seaborn as sns

# inline plots
%matplotlib inline

In [8]:
scorers = pd.read_clipboard()

In [9]:
scorers

          #    Player  Goals  Caps     Career
1     Clint   Dempsey     57   140      2004–
2    Landon   Donovan     57   157  2000–2014
3      Jozy  Altidore     41   109      2007–
4      Eric   Wynalda     34   106  1990–2000
5     Brian   McBride     30    95  1993–2006
6   Joe-Max     Moore     24   100  1992–2002
7     Bruce    Murray     21    85  1985–1993
8     Eddie   Johnson     19    63  2004–2014
9    Earnie   Stewart     17   101  1990–2004
11  Michael   Bradley     17   139      2006–

In [14]:
scorers['rate'] = scorers['Goals'] / scorers['Caps']

In [16]:
scorers

          #    Player  Goals  Caps     Career      rate
1     Clint   Dempsey     57   140      2004–  0.407143
2    Landon   Donovan     57   157  2000–2014  0.363057
3      Jozy  Altidore     41   109      2007–  0.376147
4      Eric   Wynalda     34   106  1990–2000  0.320755
5     Brian   McBride     30    95  1993–2006  0.315789
6   Joe-Max     Moore     24   100  1992–2002  0.240000
7     Bruce    Murray     21    85  1985–1993  0.247059
8     Eddie   Johnson     19    63  2004–2014  0.301587
9    Earnie   Stewart     17   101  1990–2004  0.168317
11  Michael   Bradley     17   139      2006–  0.122302

In [19]:
scorers.append(['Christian', 'Pulisic', 8, 19, '2016-', 8/19])

            0        #   Caps     Career  Goals    Player      rate
1         NaN    Clint  140.0      2004–   57.0   Dempsey  0.407143
2         NaN   Landon  157.0  2000–2014   57.0   Donovan  0.363057
3         NaN     Jozy  109.0      2007–   41.0  Altidore  0.376147
4         NaN     Eric  106.0  1990–2000   34.0   Wynalda  0.320755
5         NaN    Brian   95.0  1993–2006   30.0   McBride  0.315789
6         NaN  Joe-Max  100.0  1992–2002   24.0     Moore  0.240000
7         NaN    Bruce   85.0  1985–1993   21.0    Murray  0.247059
8         NaN    Eddie   63.0  2004–2014   19.0   Johnson  0.301587
9         NaN   Earnie  101.0  1990–2004   17.0   Stewart  0.168317
11        NaN  Michael  139.0      2006–   17.0   Bradley  0.122302
0   Christian      NaN    NaN        NaN    NaN       NaN       NaN
1     Pulisic      NaN    NaN        NaN    NaN       NaN       NaN
2           8      NaN    NaN        NaN    NaN       NaN       NaN
3          19      NaN    NaN        NaN    NaN       NaN       NaN
4       2016-      NaN    NaN        NaN    NaN       NaN       NaN
5           0      NaN    NaN        NaN    NaN       NaN       NaN